<!DOCTYPE html>
<html>
  <head>
    <title>Vast Shipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <style>
      table.inner {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
